hr {
  border: none ;
  height: 40px !important;
  background-image: url('./hr.png') !important;
  background-repeat: no-repeat !important;
  background-color: transparent !important;
  background-position: center !important;
  background-size: contain !important;
  margin: 2rem 0;
}